
.customHeight{
  height: auto;
  background-color: #f5f5f5;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    height: 285px;
}



.jss8 {
    width: 187px;
    height: 285px;
    object-fit: cover;
}
a:hover{
  color: #007bff;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    height: 278px;
    background-repeat: no-repeat;
}
